## 선택정렬
+ 데이터가 무작위로 여러 개 있을 때, 이 중 가장 작은 데이터를 선택해 맨 앞에 있는 데이터와 바꾸고 그 다음 작은 데이터를 선택해 앞에서 두번째 데이터와 바꾸는 과정의 반복
+ 가장 원시적인 방법

In [ ]:
array = [7 ,5, 9, 0, 3, 1, 6, 2, 4, 8]

for i in range(len(array)):
  min_index = i
  for j in range(i+1, len(array)):
    if array[min_index] > array[j]:
      min_index = j
  array[min_index], array[i] = array[i] , array[min_index]

print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## 삽입정렬

In [ ]:
array = [7 ,5, 9, 0, 3, 1, 6, 2, 4, 8]

for i in range(1, len(array)):
  for j in range(i, 0, -1): # 인덱스 i 부터 1까지 1만큼 감소하며 반복
    if array[j] < array[j-1]:
      array[j], array[j-1] = array[j-1], array[j]
    else:
      break

print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

거의 정렬되어 있는 상태에서 매우 효율적

거의 정렬되어 있는 상태의 문제가 주어지면 퀵정렬 보다 삽입 정렬을 이용하는 것이 정답 확률을 높일 수 있음

## 퀵정렬
+ 가장 많이 사용되는 알고리즘
+ 병합 정렬과 더불어 대부분의 프로그래밍 언어에서 정렬 라이브러리의 근간이 되는 알고리즘
+ 기준을 설정한 다음 큰 수와 작은 수를 교환한 후 리스트를 반으로 나는 방식으로 동작
+ 피벗(Pivot) : 큰 숫자와 작은 숫자를 교환할 때, 교환하기 위한 기준을 피벗이라고 함
+ 피벗을 어떻게 설정할 것인지 미리 명시 해야

### 호어 분할
+ 피벗을 설정하고 리스트를 분할하는 방법에 따라서 여러가지 방식으로 퀵 정렬을 구분
+ 가장 대표적인 분할 방식

In [ ]:
array = [5,7,9,0,3,1,6,2,4,8]

def quick_sort(array, start, end):
  if start >= end: # 원소가 1개인 경우 종료
    return
  pivot = start # 피벗은 첫 번째 원소
  left = start + 1
  right = end
  while left <= right:
    # 피벗보다 큰 데이터를 찾을 떄까지 반복
    while left <= end and array[left] <= array[pivot]:
      left += 1
    # 피벗보다 작은 데이터 찾을때까지 반복
    while right > start and array[right] >= array[pivot]:
      right -= 1
    # 엇갈렸으면 작은 데이터와 피벗 교체
    if left > right:
      array[right], array[pivot] = array[pivot], array[right]
    # 엇갈리지 않으면 작은 데이터와 큰 데이터 교체
    else:
      array[right], array[left] = array[left], array[right]
    
  # 분할 이후 왼쪽 부분과 오른쪽 부분에서 각각 정렬 수행
  quick_sort(array, start, right - 1)
  quick_sort(array, right + 1, end)

quick_sort(array, 0, len(array) - 1)
print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

퀵 정렬의 시간 복잡도는 O(NlogN)

In [ ]:
# 파이썬다운 퀵 정렬 코드
array = [5,7,9,0,3,1,6,2,4,8]

def quick_sort_py(array):
  # 리스트가 하나 이하의 원소만을 담고 있다면 종료
  if len(array) <= 1:
    return array
  
  pivot = array[0] # 피벗은 첫 번째 원소
  tail = array[1:] # 피벗 제외한 리스트

  left_side = [x for x in tail if x <= pivot] # 분할된 왼쪽 부분
  right_side = [x for x in tail if x > pivot] # 분할된 오른쪽 부분

  # 분할 이후 왼쪽 부분, 오른쪽 부분에 대해 각각 정렬을 수행하고 피벗과 함께 전체 리스트 반환
  return quick_sort_py(left_side) + [pivot] + quick_sort_py(right_side)

print(quick_sort_py(array))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## 계수 정렬
+ 특정한 조건이 부합할 때만 사용할 수 있지만 매우 빠른 정렬 알고리즘
+ 모든 데이터가 양의 정수인 상황에서 데이터의 개수가 N, 최대값이 K 일때, 계수 정렬은 최악의 경우에도 수행시간 O(N+K)를 보장
+ 데이터의 크기 범위가 제한되어 정수로 표현할 수 있을 때 만 사용가능
+ 일반적으로 가장 큰 데이터와 가장 작은 데이터의 차이가 1,000,000을 넘지 않을 때 효과적으로 사용가능
+ 예를 들어 0 이상 100 이하인 성적 데이터를 정렬할 때 계수 정렬이 효과적
+ 일반적으로 별도의 리스트를 선언하고, 그 안에 정렬에 대한 정보를 담는다는 특징

In [ ]:
# 모든 원소의 값이 0보다 크거나 같다고 가정
array = [7,5,9,0,7,1,0,2,9,1,4,8,0,5,2]

# 모든 범위를 포함하는 빈 리스트 선언(모든 값은 0으로 초기화)
count = [0] * (max(array) + 1)

for i in range(len(array)):
  count[array[i]] += 1

for i in range(len(count)):
  for j in range(count[i]):
    print(i, end = ' ')

0 0 0 1 1 2 2 4 5 5 7 7 8 9 9

## 위에서 아래로

In [ ]:
n = int(input())

# N개의 정수 입력 받기
array = []
for i in range(n):
  array.append(int(input()))

# 파이썬 기본 정렬 라이브러리로 정렬 수행
array = sorted(array, reverse=True)

for i in array:
  print(i, end=' ')

3
27
15
12
27 15 12

## 성적이 낮은 순서로 학생 출력하기

In [ ]:
# 학생 수
n = int(input())

array = []
for i in range(n):
  input_data = input().split()
  array.append((input_data[0], int(input_data[1])))

# 키 값을 이용하여 정렬
array = sorted(array, key = lambda student: student[1])

for i in array:
  print(i[0], end=' ')

2
홍길동 96
이순신 90
이순신 홍길동

## 두 배열의 원소 교체

In [ ]:
# n개의 원소, k번 바꿔치기 가능
n, k = map(int, input().split())
# 리스트 a, b
a = list(map(int, input().split()))
b = list(map(int, input().split()))

a.sort()
b.sort(reverse=True)

for i in range(k):
  if a[i] < b[i]:
    a[i], b[i] = b[i], a[i]
  else:
    break

print(sum(a))

5 3
1 2 5 4 3
5 5 6 6 5
26